body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.col-md-6{
    margin-top: 150px !important;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border: 5px solid black !important;
  
}
input[type=button]{
    background-color: blue;
    color: white;
    width: 100%;
    font-weight: bolder;
    border: 2px solid black;
}
input[type=text]{
    width: 100% !important;
}
h1{
    font-weight: bolder;
    margin-top: 15px !important;
}
